.container {
  width: 100%;
  height: 70%;
  border-radius: 100%;
  border: 1.5rem groove #fca311;
  color: #e5e5e5;
  background-color: #14213d;
  position: relative;
  text-align: center;
}
.customer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
