.mini-line-view {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 4px solid black;
}

.store-title {
  font-weight: 700;
  font-size: 1.1rem;
  width: 100%;
}

.manage-line-btn {
  height: fit-content;
  border: 2px solid black !important;
}
