.form-input {
  box-sizing: border-box;
  color: black;
  width: 100%;
  padding: 6px 12px;
}

.no-edit-field {
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 8px 2px;
}

.modal-content * {
  color: black;
}

.invalid-field {
  box-sizing: border-box;
  background-color: rgb(255, 220, 220);
}

.invalid-message {
  font-weight: bold;
  font-size: 0.8rem;
  color: rgb(255, 215, 215);
}

.success-message {
  background: white;
  font-weight: bold;
}
