.nav-link {
  color: #14123d;
  font-weight: bold;
  padding: 0.5rem;
  height: 100%;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

.logo {
  height: 2rem !important;
}

.dash-link {
  border-right: 0.2rem solid #14123d;
}
